.base {
background:darkslategrey;
margin-top: 5 vh;
border: 3px xolid black;
width: 700px;
}


.ecran{
    background: lightgrey;
    height: 25 vh;
    padding: 5%;
    font-size: 4rem;
    text-align:right;
    font-family: Courier, monospace;
    overflow:auto;
}
.sous ecran{
    border-bottom: 1px solid black;
    height: 25%;
    font-size:2rem;
    overflow: auto;
}
.claviers
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.but{
    margin:0;
    height: 20%;
    background: whitesmoke;
    color: black;
    padding: 5%;
    font-size: 2rem;
    text-align:center;
    cursor:pointer;
    opacity:0.9;
}
.but:hover{
    opacity:1;
}but

.init{
    color:white;
    background-color:black;
}
.egal{
    color:white;
    background-color: orangered;
}
.op{
    color:white;
    background-color:black;
    width: 150px;
    padding: 10px;
    height: 100px;
}
.num{
    width: 150px;
    padding: 20px;
    height: 100px;
}
.virgule{
    width: 150px;
    padding: 20px;
    height: 100px;
}
.egal{

    width: 335px;
    padding: 20px;
    height: 100px;
}
.fin{
    width: 150px;
    padding: 20px;
    height: 100px;
}
.del{
    background-color: red;
    width: 150px;
    padding: 20px;
    height: 100px;
}
.ans{
    width: 150px;
    padding: 20px;
    height: 100px;
}
.init{
    width: 150px;
    padding: 20px;
    height: 100px;
}